
.OfficeContainer {
  display: flex;
  flex-direction: column;
}

.OfficeCard {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  margin: 10px;
}

.OfficeCard img {
  width: 300px;
}

.counter {
  font-size: 2rem;
  font-weight: bold;
  color: rgb(25, 118, 210);
}

.btn {
  padding: 1rem;
  background-color: #bd4257;
  color: white;
  outline: none;
  appearance: none;
  border: none;
  border-radius: 0.5rem;
  margin: 10px;
  cursor: pointer;
  font-weight: 600;
}

.DashboardContainer {
  background-color: #ccc;
  margin: 2rem;
  border: 1px solid whitesmoke;
  padding: 0.2rem;
}

.Dashboard {
  text-align: center;
}

.header {
  background-color: rgb(25, 118, 210);
  height: 64px;
  padding: 16px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.header h1 {
  margin: 0;
  display: flex;
  color: #fff;
}

.m-0 {
  margin: 0;
}

.position-relative {
  position: relative;
}

.officeName {
  position: absolute;
  right: 0;
  bottom: 0;
  background: #bd4257;
  color: #fff;
  padding: 16px;
  width: 100%;
  box-sizing: border-box;
  font-weight: 600;
}